<div class="chart-list">
  <mat-card>
    <mat-card-content>
      <app-chart></app-chart>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <app-chart></app-chart>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <app-chart></app-chart>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <app-chart></app-chart>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <app-chart></app-chart>
    </mat-card-content>
  </mat-card>
</div>


