 <div fxFlex fxLayout="row"  fxLayoutAlign="start center"  fxLayoutGap="10px" >
        <mat-card class="reg-card" fxFlex fxLayout="column"  fxLayoutAlign="center center">
           <mat-card-header>
              <mat-card-title class="reg-card-title">
                    <h1> Sign Up:</h1>
              </mat-card-title>
           </mat-card-header>
           <mat-card-content >
              <form novalidate (ngSubmit)="onSubmit(newUser)"  [formGroup]="newUser" fxFlex fxLayout="column"  fxLayoutAlign="center center">
                  <div class="reg-new-user" formGroupName="name">
                      <mat-form-field class="reg-input-container">
                          <input matInput
                                 autofocus
                                 type="text"
                                 id="username"
                                 (focusout)="onUserNameOutFocused()"
                                 (keyup)="onUserNameKeyedUp()"
                                 formControlName="username">
                          <mat-placeholder class="reg-placeholder-label">Create a Username</mat-placeholder>
                      </mat-form-field>
                      <control-messages [control]="newUser.controls.name.controls.username"></control-messages>
                      <div class="error" *ngIf="userNameAttempt && !validUserName">
                              This username is already in use!
                      </div>
                      <br>
                  </div>
                    <div class="reg-new-user" formGroupName="user">
                          <mat-form-field #pwContainer class="reg-input-container">
                              <input matInput
                                     #password
                                     id="password"
                                     name="password"
                                     type="password"
                                     formControlName="password">
                              <mat-placeholder class="reg-placeholder-label">Create a Password</mat-placeholder>
                          </mat-form-field>
                          <control-messages [control]="newUser.controls.user.controls.password"></control-messages>
                          <br>
                          <mat-form-field class="reg-input-container">
                              <input  matInput
                                      type="text"
                                      formControlName="firstname">
                              <mat-placeholder class="reg-placeholder-label">Your first name</mat-placeholder>
                          </mat-form-field>
                          <control-messages [control]="newUser.controls.user.controls.firstname"></control-messages>
                          <br>
                          <mat-form-field class="reg-input-container">
                              <input  matInput
                                      type="text"
                                      formControlName="lastname">
                              <mat-placeholder class="reg-placeholder-label">Your last name</mat-placeholder>
                          </mat-form-field>
                          <control-messages [control]="newUser.controls.user.controls.lastname"></control-messages>
                    </div>
                    <div class="reg-new-user" formGroupName="account">
                          <mat-form-field class="reg-input-container">
                              <input  matInput
                                      type="text"
                                      formControlName="email">
                              <mat-placeholder class="reg-placeholder-label">Your email address</mat-placeholder>
                          </mat-form-field>
                          <control-messages [control]="newUser.controls.account.controls.email"></control-messages>
                          <br>
                          <mat-form-field class="reg-input-container">
                              <input  matInput
                                      type="text"
                                      formControlName="confirm">
                              <mat-placeholder class="reg-placeholder-label">Confirm your email address</mat-placeholder>
                          </mat-form-field>
                          <control-messages [control]="newUser.controls.account.controls.confirm"></control-messages>
                          <div class="error" *ngIf="newUser.get('account').touched && newUser.get('account').hasError('nomatch')">
                              Email addresses must match
                          </div>
                          <br>
                          <br>
                    </div>
                    <br>
                    <br>
                  <div>
                     <button mat-raised-button class="reg-btn" type="submit" [disabled]="((!validUserName) || (!newUser.valid))">Sign up</button>
                  </div>
              </form>
            </mat-card-content>
       </mat-card>
 </div>
