
@import '../../../../scss/styles-variables';

:host {
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.reg-card{
  margin-top:$toolBarHeight;
  margin-bottom:$toolBarHeight;
  min-width:350px;
  max-width:50%;
}

.form-direction{
  text-align:center;
  font-size:1.5em;
  font-weight: 700;
  small{
    width:60%;
    font-size:.65em;
    font-weight: 200;
  }
}


.reg-card{
  min-width:350px;
  max-width:65%;
}



.reg-card mat-card-header{
  height:3rem;
  margin-bottom:1rem;
}



.reg-card-title  h1{
   font-size:1.75rem;
   font-weight: 100;
   font-family: $font-family
}

.reg-new-user{
   display: inline-flex;
   width:100%;
   text-align: center;   /* establish flex container */
   flex-direction: column;  /* make main axis vertical */
   justify-content: center; /* center items vertically, in this case */
   align-items: center;
}


.reg-input-container{
   font-size:1rem;
   display: flex;
   flex-direction: row;
   width: 80%;
   align-items: center;
   padding-left:0.35em;
   padding-right:0.35em;
   font-family:$font-family;
   font-weight: 100;
}


  .error{
     font-family: $font-family;
  }

