@import '../../scss/styles-variables';

:host {
	display: flex;
    flex-grow: 1;
}


.mast-head-nav{
    position:fixed;
    top:0;
    right:0;
    left:0;
    height:$toolBarHeight;
	z-index:$z-index-toolbar;
}

