
@import '../../../../scss/styles-variables';


.login-dialog{
   min-width:280px;
}

.app-input-icon {
  font-size: 24px;
  left:20px;
  padding-left:0.85em;
  padding-right:0.85em;
}



a.registration-label{
   font-size:20px;
   color : $light-accent-text;
   margin-bottom:20px;
}

.login-card-title{
   display: inline-flex;
   width:100%;
   text-align: center;   /* establish flex container */
   flex-direction: column;  /* make main axis vertical */
   justify-content: center; /* center items vertically, in this case */
   align-items: center;
}

.login-dialog .login-input-container{
   font-size:20px;
   line-height:30px;
   padding-top:20px;
   display: inline-flex;
   flex-direction: row;  /* make main axis vertical */
   justify-content: center; /* center items vertically, in this case */
   align-items: center;
}


  input.mat-input-element{
      padding-top: 10px;
      text-align:center;
  }


