$noc-color:#0082CB;
$ns-primary: mat-palette($mat-indigo, 800, 300, 900);
$ns-accent: mat-palette($mat-light-blue);
$ns-warn: mat-palette($mat-pink, 600);

$ns-theme: mat-light-theme($ns-primary, $ns-accent, $ns-warn);
