$ns-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$ns-nature-accent: mat-palette($mat-deep-purple, 300);
$ns-nature-warn: mat-palette($mat-red, 600);

$ns-nature-theme: mat-light-theme(
  $ns-nature-primary,
  $ns-nature-accent,
  $ns-nature-warn
);
