<div  class="profile-card-holder"  fxFlex fxLayout="row"  fxLayoutAlign="center center">
        <mat-card class="prfl-view-card" fxFlex fxLayout="column"  fxLayoutAlign="center center">
           <mat-card-header>
              <mat-card-title class="prfl-view-title ">
                    <h1> User Profile </h1>
              </mat-card-title>
           </mat-card-header>
           <mat-card-content>
                 <mat-list>
                    <mat-list-item>
                        <h3 class="profile-item-label" mat-line>User Name:
                            <small > {{(userProfile$ | async)?.username}} </small>
                        </h3>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h3 class="profile-item-label" mat-line>First Name:
                            <small > {{(userProfile$ | async)?.firstname}} </small>
                        </h3>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h3 class="profile-item-label" mat-line>Last Name:
                            <small > {{(userProfile$ | async)?.lastname}} </small>
                        </h3>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <h3 class="profile-item-label" mat-line>Email:
                            <small > {{(userProfile$ | async)?.email}} </small>
                        </h3>
                    </mat-list-item>
                 </mat-list>
           </mat-card-content>
       </mat-card>
 </div>
