@import '~@angular/material/theming';

$toolbar-breakpoint: 600px;

$link-hover-decoration: none;
$label-margin-bottom: 0;

@function rem($multiplier) {
  $font-size: 10px;
  @return $multiplier * $font-size;
}

@mixin radial-gradient($start-color, $end-color, $orientation) {
  background: $start-color;
  @if $orientation == 'vertical' {
    background: -webkit-linear-gradient(top,  $start-color 0%, $end-color 100%);
    background: linear-gradient(to bottom,  $start-color 0%, $end-color 100%);
  } @else if $orientation == 'horizontal' {
    background: -webkit-linear-gradient(left,  $start-color 0%, $end-color 100%);
    background: linear-gradient(to right,  $start-color 0%, $end-color 100%);
  } @else {
    background: -webkit-radial-gradient(center, ellipse cover,  $start-color 5%, $end-color 100%);
    background: radial-gradient(ellipse at center,  $start-color 5%, $end-color 100%);
  }
}



$z-index-toolbar: 90 !default;
$layout-breakpoint-xs: 600px !default;
$layout-breakpoint-sm: 600px !default;
$layout-breakpoint-md: 960px !default;
$layout-breakpoint-lg: 1280px !default;

$toolBarHeight:64px;


$body-black:#1e1e1e;
$very-dark-gray: #485156;
$nav-color: #3e464c;
$less-dark-gray:#9A9A9A;
$steel-white:#DBDBDB;
$dusty-white: #f5f1f5;
$baby-powder:#fefefe;

$danger:#9c0d0d;


$noc-color:#0082CB; //n;
$perlblue-color:#03568F;


$defaultToolBarHeight: 64px;
$border-reg-color: #7d7d7d;
$input-color:#c4c4c4;

$font-family: 'Lato', sans-serif !default;
$font-size:   10px;
$accent-orange: #D19435;


// Light Theme Text
$dark-text: #3b8997;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);


// Dark Theme text
$light-text: #ecffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);


// Background config
// Light bg
$light-background:    #b1cad0;
$light-bg-darker-5:   darken($light-background, 5%);
$light-bg-darker-10:  darken($light-background, 10%);
$light-bg-darker-20:  darken($light-background, 20%);
$light-bg-darker-30:  darken($light-background, 30%);
$light-bg-lighter-5:  lighten($light-background, 5%);
$dark-bg-alpha-4:     rgba(#527e8f, 0.04);
$dark-bg-alpha-12:    rgba(#527e8f, 0.12);


// Dark bg
$dark-background:     #2F7A8F;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#b1cad0, 0.04);
$light-bg-alpha-12:   rgba(#b1cad0, 0.12);



// The default animation curves used by material design.
$md-linear-out-slow-in-timing-function: cubic-bezier(0, 0, 0.2, 0.1) !default;
$md-fast-out-slow-in-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !default;
$md-fast-out-linear-in-timing-function: cubic-bezier(0.4, 0, 1, 1) !default;

$ease-in-out-curve-function: cubic-bezier(0.35, 0, 0.25, 1) !default;

$swift-ease-out-duration: 400ms !default;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1) !default;
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function !default;

$swift-ease-in-duration: 300ms !default;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2) !default;
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function !default;

$swift-ease-in-out-duration: 500ms !default;
$swift-ease-in-out-timing-function: $ease-in-out-curve-function !default;
$swift-ease-in-out: all $swift-ease-in-out-duration $swift-ease-in-out-timing-function !default;

$swift-linear-duration: 80ms !default;
$swift-linear-timing-function: linear !default;
$swift-linear: all $swift-linear-duration $swift-linear-timing-function !default;
