@import 'styles-variables';

@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500');

@import '../themes/noc-dark-theme';
//@import '../themes/tut-custom-theme';
@include angular-material-theme($custom-theme);

html {
  display: flex;
  width: 100vw;
  height: 100vh;
  > body {
    @include radial-gradient($dark-bg-lighter-5, $dark-bg-lighter-10,'center');
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: mat-contrast($mat-grey, 50);
  }
}



.mat-form-field.mat-form-field-invalid .mat-form-field-label{
   color:lighten($accent-orange, 10%);
   font-weight:200;
}
